/* Fields */

#user-add-form .field {
    display: flex;
    margin-bottom: 15px;
}

#user-add-form .field label {
    display: block;
    width: 100px;
    line-height: 30px;
}

#user-add-form .field input,
#user-add-form .field select {
    width: 230px;
    font-size: 19px;
    padding: 5px 10px;
    box-sizing: border-box;
}


/* Checkbox */

#user-add-form .checkbox {
    display: flex;
    margin-bottom: 30px;
}

#user-add-form .checkbox label {
    display: block;
    line-height: 20px;
}

#user-add-form .checkbox input {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 100px;
}


/* Button */

#user-add-form button {
    font-size: 19px;
    width: 120px;
    height: 40px;
    margin: 0 10px 0 100px;
}


/* Messages */

#user-add-success,
#user-add-failed {
    display: none;
    background-color: #fff;
    border: solid 7px;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    padding: 15px;
    margin-top: 30px;
}

#music-add-success {
    border-color: #0c0;
    display: none;
    color: #0c0;
}

#music-add-failed {
    display: none;
    border-color: #c00;
    color: #c00;
}

#music-add-failed div {
    color: #777;
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
}
.addUserBtn{
    display: block;
    background-color: #0c0;
    width: 500px;
    height: 100px;
}